.div-slider {
  width: 15.18em; //243px;
  height: 11.68em; //187px;
  margin-right: 1.37em; //22px;

  .slider-image {
    width: 15.18em; //243px;
    height: 11.68em; //187px;
  }
  ul,
  .container-btns-hover,
  .span-text {
    display: none;
  }

  &:hover {
    background: $line-color;
    z-index: 10;
    height: 11.68em;

    .slider-image {
      opacity: 0.6; //
    }
    .container-btns-hover {
      display: block;
      li {
        transform: translate(7.5em, -11.5em); //7.5em, -11.25em (120px, -180px);
        display: inline-block;

        .btn-favorite {
          &:active {
            opacity: 1;
            img {
              // width: 1.6em; //2em; //32px;
              // height: 1.5em;
              content: url("../assets/img/icon-fav-active.svg");
              margin: 0.3em; //0.41em
            }
          }
        }
        .active {
          img {
            width: 1.6em; //2em; //32px;
            height: 1.5em;
            content: url("../assets/img/icon-fav-active.svg");
            margin: 0.41em;
          }
        }

        button {
          border-radius: 0.37em;
          color: $line-color;
          background-color: $white-color;
          margin-right: 0.62em;
          border: none;
          opacity: 0.6;
          width: 2.4em;
          height: 2.4em;

          &:hover {
            opacity: 1;
            background-color: $white-color;
          }

          img {
            color: $line-color;
          }
        }
      }
    }
    .span-text {
      display: block;
      //left: 10%;
      transform: translateY(-6.25em); //(-100px);
      color: $white-color;
      text-transform: capitalize;

      p {
        margin-bottom: 0.31em; //5px;
        margin-left: 0.93em; //15px;
      }

      :nth-child(3) {
        font-weight: bold;
        width: 90%;
      }
    }
  }
  // .container-btns-hover {
  //   .btn-favorite {
  //     // &:hover {
  //     //   content: url("../assets/img/icon-fav-hover.svg");
  //     //   background-color: $white-color;
  //     // }
  //     // &:active {
  //     //   content: url("../assets/img/icon-fav-active.svg");
  //     // }
  //   }
  //   // .btn-download{

  //   // }
  // }
}

.slider-btn {
  border: none;
  cursor: pointer;
  z-index: 1;
  //dark-mode
  body.dark-mode & {
    background-color: $body-dark-color;
    color: $white-color;
    border-color: $white-color;
    &:hover {
      background-color: $white-color;
      color: $black-color;
    }
  }
}

.btn-left {
  display: none;
}
.btn-right {
  display: none;
}

@media screen and (min-width: 768px) {
  .slider-btn {
    box-shadow: none;
    width: 3.1em;
    height: 3.1em;
    body.dark-mode &:hover {
      box-shadow: none;
      color: $black-color;
      border: 0.06em solid $black-color;
    }
  }

  .btn-left {
    display: block;
    img {
      body.dark-mode & {
        content: url("../assets/img/button-slider-left-md-noct.svg");
        &:hover {
          background-color: $white-color;
          content: url("../assets/img/button-slider-left.svg");
        }
      }
      &:hover {
        content: url("../assets/img/button-slider-left-hover.svg");
      }
    }
  }
  .btn-right {
    display: block;
    img {
      body.dark-mode & {
        content: url("../assets/img/button-slider-right-md-noct.svg");
        &:hover {
          background-color: $white-color;
          content: url("../assets/img/Button-Slider-right.svg");
        }
      }
      &:hover {
        content: url("../assets/img/Button-Slider-right-hover.svg");
      }
    }
  }
}

/* 
  @media screen and (min-width: 1023px) {
  }
  @media screen and (min-width: 1439px) {
  }
  */
