@media screen and (min-width: 768px) {
  .create-gifo {
    .grid-container {
      margin-top: 0.5%;
      display: grid;
      grid-template-columns: 25% 55% 25%;
      grid-template-rows: 75% 100%;
      gap: 0px 0px;
      grid-template-areas:
        "record-img screen-section ."
        ". number-section peluca";
    }
    .record-img {
      margin-left: 20%;
      display: flex;
      align-items: center;
      align-content: center;
      :nth-child(2) {
        height: 30%;
      }
    }
    .screen-section {
      border: 0.1em solid $line-color;
      margin-left: 10%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "."
        "."
        ".";
      grid-area: screen-section;
      .borders {
        display: flex;
        justify-content: space-between;
        margin-right: 5%;
        margin-left: 5%;
      }

      .top {
        margin-top: 5%;
      }

      .bottom {
        align-items: flex-end;
        margin-bottom: 5%;
      }
      div {
        .first-order {
          width: 1.68em;
          height: 1.56em;
          border-top: solid 0.1em $txt-fail-responde;
          border-left: solid 0.1em $txt-fail-responde;
        }

        .second-order {
          width: 1.68em;
          height: 1.56em;
          border-top: solid 0.1em $txt-fail-responde;
          border-right: solid 0.1em $txt-fail-responde;
        }
      }

      .div-video {
        display: none;
        video {
          height: 100%;
          width: 100%;
          margin-top: -10%;
        }
      }

      .div-text {
        .text-trending {
          margin-top: 0.1%;
        }
      }
      div {
        .third-order {
          width: 1.68em;
          height: 1.56em;
          border-bottom: solid 0.1em $txt-fail-responde;
          border-left: solid 0.1em $txt-fail-responde;
        }

        .fourth-order {
          width: 1.68em;
          height: 1.56em;
          border-bottom: solid 0.1em $txt-fail-responde;
          border-right: solid 0.1em $txt-fail-responde;
        }
      }
    }

    .number-section {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
      gap: 0px 0px;
      grid-template-areas:
        ". one cinta"
        "line line line"
        ". botones .";
      grid-area: number-section;
      height: 40%;
    }

    .peluca {
      grid-area: peluca;
    }
  }
}

@media screen and (min-width: 1023px) {
}

@media screen and (min-width: 1439px) {
}
