.create-gif {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-conten {
    li {
      .crear-gifo {
        body.dark-mode & {
          content: url("../assets/img/CTA-crear-gifo-active-modo-noc.svg");
        }
      }
    }
  }

  .create-gif {
    margin-top: 0.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "camera-div info-video info-video"
      ". tools-recording film-div";
  }
  .camera-div {
    margin-top: 14%;
    margin-left: 11%;
    grid-area: camera-div;
    .camera {
      body.dark-mode & {
        content: url("../assets/img/camara-modo-noc.svg");
      }
    }

    .camera-light {
      width: 40%;
    }
  }

  .size {
    width: 20%;
    height: 20%;
  }

  .info-video {
    grid-area: info-video;
    width: 21.25em;
    height: 16.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.063em solid $line-color;
    padding: 0.5em;
    flex-flow: row nowrap;
    .upload-gifo,
    .text-info-video {
      box-sizing: border-box;
      width: 100%;
      flex: none;
    }
    .upload-gifo {
      display: none;
      background: $line-color;
      opacity: 0.6;
      z-index: 2;
      margin-left: -100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
    .text-info-video {
      margin-left: 1%;
      height: 15.2em;
      width: 20.2em;
      background: linear-gradient(
            to right,
            $link-hover-color 0.04em,
            transparent 4px
          )
          0 0,
        linear-gradient(to right, $link-hover-color 0.04em, transparent 4px) 0
          100%,
        linear-gradient(to left, $link-hover-color 0.04em, transparent 4px) 100%
          0,
        linear-gradient(to left, $link-hover-color 0.04em, transparent 4px) 100%
          100%,
        linear-gradient(to bottom, $link-hover-color 0.04em, transparent 4px) 0
          0,
        linear-gradient(to bottom, $link-hover-color 0.04em, transparent 4px)
          100% 0,
        linear-gradient(to top, $link-hover-color 0.04em, transparent 4px) 0
          100%,
        linear-gradient(to top, $link-hover-color 0.04em, transparent 4px) 100%
          100%;

      background-repeat: no-repeat;
      background-size: 1.25em 1.25em;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        font-size: 1.4em;
        line-height: 1.5em;
      }
      .text-trending {
        body.dark-mode & {
          color: $white-color;
        }
      }
    }
  }

  .tools-recording {
    display: grid;
    grid-template-columns: 1fr 1.8fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". steps time"
      "lines lines lines"
      ". buttons-recording .";
    grid-area: tools-recording;

    .time {
      grid-area: time;
      font-size: 1em;
      margin: auto;
      text-transform: uppercase;
      body.dark-mode & {
        color: $white-color;
      }
    }

    .step,
    .button {
      body.dark-mode & {
        background-color: $body-dark-color;
        color: $white-color;
        border-color: $black-color;
      }
    }
  }

  .steps {
    grid-area: steps;
    display: flex;
    justify-content: center;
    align-items: center;
    .active {
      background-color: $line-color;
      color: $white-color;
      body.dark-mode & {
        background-color: $white-color;
        color: $black-color;
        border-color: $white-color;
      }
    }
  }

  .step {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: solid 0.1em $line-color;
    text-align: center;
    padding: 0.35em;
    margin-right: 0.5em;
  }

  .return-recording {
    text-decoration: underline;
    text-decoration-color: $link-hover-color;
    display: none;
    body.dark-mode & {
      background-color: $body-dark-color;
      color: $white-color;
      border-color: $white-color;
    }
  }

  .lines {
    grid-area: lines;
    width: 150%;
    margin-left: -10%;
  }

  .buttons-recording {
    grid-area: buttons-recording;
    margin-top: -40%;
    .button {
      text-transform: uppercase;
      border: solid 0.1em $line-color;
      border-radius: 1.3em;
      width: 100%;
      font-size: 0.8em;
    }

    .record-button,
    .stop-button,
    .upload-button {
      display: none;
    }
  }

  .film-div {
    grid-area: film-div;
    margin-left: 40%;
    .film {
      body.dark-mode & {
        content: url("../assets/img/pelicula-modo-noc.svg");
      }
    }
  }
}

@media screen and (min-width: 1023px) {
  .camera-div {
    .camera-light {
      width: 30%;
    }
  }

  .info-video {
    width: 25.25em;
    height: 20.25em;
    padding: 1em;
    .text-info-video {
      width: 22.2em;
      height: 17.2em;
      margin-left: -3%;
    }
    .upload-gifo {
      margin-left: -92%;
      height: 83%;
      width: 89%;
    }
  }

  .step {
    margin-right: 1em;
  }

  .lines {
    margin-left: -15%;
  }

  .buttons-recording {
    margin-top: -40%;
    margin-left: 10%;
    .button {
      width: 80%;
    }
  }
}

@media screen and (min-width: 1439px) {
  .camera-div {
    margin-left: 25%;
    .camera-light {
      width: 26%;
    }
  }

  .info-video {
    width: 37.25em;
    margin-left: 0;
    .text-info-video {
      width: 34.2em;
      margin-left: -1%;
    }
    .upload-gifo {
      margin-left: -78%;
      height: 83%;
      width: 59%;
    }
  }

  .buttons-recording {
    margin-top: -20%;
  }
}
