body {
  transition: 1s ease all;
  //dark mode
  &.dark-mode {
    background-color: $body-dark-color;
  }
}

.line-color {
  height: 0.3em;
  background-color: $line-color;
  //dark mode
  body.dark-mode & {
    background-color: $black-color;
  }
}

nav {
  height: 5.93em;
  width: 100%;
  background: lightblue;
  display: flex;
  justify-content: space-between;
  //dark mode
  body.dark-mode & {
    background-color: $body-dark-color;
  }
}

.logo-container {
  display: flex;
  align-items: center;
  width: 5.62em;
  padding: 0;
}

.logo {
  margin-top: 1.81em;
  margin-left: 1.37em;
  margin-bottom: 1.06em;
  width: 3.05em;
  height: 3.05em;
  //dark mode
  body.dark-mode & {
    content: url("/assets/img/logo-mobile-modo-noct.svg");
  }
}

.menu-conten {
  position: fixed;
  width: 100%;
  height: 0em;
  top: 2.75em;
  background: $menu-mobile-color-hover;
  text-align: center;
  //-----------------transition: all 0.5;
  //dark mode
  body.dark-mode & {
    background: $black-color;
  }

  li {
    opacity: 0;
    //-----------------transition: all 0.5;
    margin-left: 5%;
    margin-top: 7%;
  }
}

.menu-conten li {
  #color-switch {
    display: none;
  }
  a,
  label {
    text-transform: capitalize;
    border-bottom: 0.06em solid $white-color;
    padding-bottom: 0.75em;
  }
}
.burger-btn {
  cursor: pointer;

  img {
    margin-top: 2.93em;
    margin-right: 1.62em;
    margin-bottom: 2.12em;
    width: 0.93em;
    height: 0.87em;
    //dark mode
    body.dark-mode & {
      content: url("/assets/img/burger-modo-noct.svg");
    }
  }
}

#check {
  display: none;
}

#check:checked ~ .burger-btn {
  img {
    content: url("/assets/img/close.svg");
    //dark mode
    body.dark-mode & {
      content: url("/assets/img/close-modo-noct.svg");
    }
  }
}

#check:checked ~ .menu-conten {
  height: 100%;
  margin-top: 3.53em;
  .crear-gifo {
    display: none;
  }
}

#check:checked ~ .menu-conten li {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  nav {
    height: 5.62em;
  }
  .burger-btn {
    display: none;
  }

  .logo-container {
    margin-left: 10.83%;
  }
  .logo {
    margin-top: 1.25%;
    margin-bottom: 0.9%;
    margin-left: 0em;
  }
  .menu-conten {
    position: relative;
    height: 4em;
    top: 0;
    background: none;
    float: right;
    text-align: right;
    margin-right: 5.83%;
    margin-top: 2.5%;
    margin-bottom: 2.64%;
    margin-left: 11.81%;
    //transition: none;
    display: flex;
    justify-content: space-around;
    //dark mode
    body.dark-mode & {
      background: none;
    }
    .crear-gifo {
      margin-top: 1.25%;
      margin-bottom: 1.25%;
      //dark mode
      body.dark-mode & {
        content: url("/assets/img/CTA-crear-gifo-hover-modo-noc.svg");
      }
    }
  }
  .menu-conten li {
    display: inline-block;
    opacity: 1;
    line-height: 4em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    //transition: none;

    a,
    label {
      text-transform: uppercase;
      color: $line-color;
      border: none;
      //dark mode
      body.dark-mode & {
        color: $white-color;
      }
    }
  }
}

.menu-conten li a:hover,
.menu-conten li label:hover {
  text-decoration: underline;
  text-decoration-color: $link-hover-color;
  text-decoration-thickness: 0.12em;
  //-----------------transition: 0.5s;
}
.menu-conten li a:active,
.menu-conten li label:active {
  color: $link-active-color;
  letter-spacing: 0;
  text-align: center;
  //dark mode
  body.dark-mode & {
    color: $link-active-color;
  }
}
.crear-gifo:hover {
  content: url("/assets/img/CTA-crear-gifo-hover.svg");
  //dark mode
  body.dark-mode & {
    content: url("/assets/img/CTA-crear-gifo-hover-modo-noc.svg");
  }
}
.crear-gifo:active {
  content: url("/assets/img/CTA-crear-gifo-active.svg");
  //dark mode
  body.dark-mode & {
    content: url("/assets/img/CTA-crear-gifo-active-modo-noc.svg");
  }
}

@media screen and (min-width: 1023px) {
  .menu-conten {
    justify-content: flex-end;
    .crear-gifo {
      margin-top: -0.3em;
    }

    li {
      display: inline-flex;
      margin-left: 3.5em;
    }
  }
}

@media screen and (min-width: 1439px) {
  .logo-container {
    margin-left: 9.75em;
    .logo {
      width: 3.69em;
      height: 3.69em;
    }
  }

  .menu-conten {
    margin-top: 1.5%;
    margin-right: 9.75em;
    margin-left: 20em;

    li {
      display: inline-flex;
    }
  }
}
