nav {
  height: 5.93em;
  width: 100%;
  //background: red;
  display: flex;
  justify-content: space-between;
}

.line-color {
  height: 0.3em;
  background-color: $royal_blue_color;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 5.62em;
  padding: 0;
}

.logo {
  margin-top: 1.81em;
  margin-left: 1.37em;
  margin-bottom: 1.06em;
  width: 3.05em;
  height: 3.05em;
}

.menu-conten {
  position: fixed;
  width: 100%;
  height: 0em;
  top: 2.75em;
  background: $royal-blue-color-hover;
  text-align: center;
  transition: all 0.5;
}

.menu-conten li {
  opacity: 0;
  transition: all 0.5;
  margin-left: 5%;
  margin-top: 7%;
  a {
    text-transform: capitalize;
    border-bottom: 0.06em solid $white-color;
    padding-bottom: 0.75em;
  }
}
/*
.menu-conten li a:active {
  color: rgba(6, 10, 36, 0.56);
  text-decoration: line-through;
  transition: 0.5s;
}

.menu-conten li a:hover {
  color: #00f3bb;
  text-decoration: line-through;
  transition: 0.5s;
}*/

.burger-btn {
  //display: block;
  //font-size: 1.5em;
  //color: black;
  //float: right;
  //line-height: 1.9em;
  //margin-right: 5%;
  //display: flex;
  //align-items: center;
  cursor: pointer;

  img {
    margin-top: 2.93em;
    margin-right: 1.62em;
    margin-bottom: 2.12em;
    width: 0.93em;
    height: 0.87em;
  }
}

#check {
  display: none;
}

#check:checked ~ .burger-btn {
  img {
    content: url("/assets/img/close.svg");
  }
}

#check:checked ~ .menu-conten {
  height: 100%;
  margin-top: 3.53em;
  .crear-gifo {
    display: none;
  }
}

#check:checked ~ .menu-conten li {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  nav {
    height: 5.62em;
  }
  .burger-btn {
    display: none;
  }

  .logo-container {
    margin-left: 10.83%;
  }
  .logo {
    //width: 3.69em;
    //height: 3.69em;
    margin-top: 1.25%;
    margin-bottom: 0.9%;
    margin-left: 0em;
  }
  .menu-conten {
    position: relative;
    height: 4em;
    top: 0;
    background: none;
    float: right;
    text-align: right;
    margin-right: 5.83%;
    margin-top: 2.5%;
    margin-bottom: 2.64%;
    margin-left: 11.81%;
    transition: none;
    display: flex;
    justify-content: space-around;
    //align-items: center;
    .crear-gifo {
      margin-top: 1.25%;
      margin-bottom: 1.25%;
    }
  }
  .menu-conten li {
    display: inline-block;
    opacity: 1;
    line-height: 4em;
    margin-top: 0;
    margin-left: 1em;
    transition: none;

    a {
      text-transform: uppercase;
      color: $royal-blue-color;
      border: none;
    }
  }

  .menu-conten li a:hover {
    text-decoration: underline;
    text-decoration-color: $cyan-color;
    text-decoration-thickness: 0.12em;
    transition: 0.5s;
  }
  .menu-conten li a:active {
    color: $cylindrical-color;
    letter-spacing: 0;
    text-align: center;
  }
  .crear-gifo:hover {
    content: url("/assets/img/CTA-crear-gifo-hover.svg");
  }
  .crear-gifo:active {
    content: url("/assets/img/CTA-crear-gifo-active.svg");
  }
}

@media screen and (min-width: 1023px) {
  .menu-conten {
    .crear-gifo {
      margin-top: -1.3em;
    }

    li {
      display: inline-flex;
    }
  }
}

@media screen and (min-width: 1439px) {
  .logo-container {
    margin-left: 9.75em;
    .logo {
      width: 3.69em;
      height: 3.69em;
    }
  }

  .menu-conten {
    margin-top: 1.5%;
    margin-right: 9.75em;
    margin-left: 36.36em;
    .crear-gifo {
      margin-top: -1.3em;
    }

    li {
      display: inline-flex;
      a {
        padding-bottom: 0em;
      }
    }
  }
}
