#tittle-mis-gifos {
  width: 100%;
  margin-top: 0.4%;
}

#my-gifos-section-without-content {
  img {
    width: 34.7%;
    margin-top: 8%;
  }
  p {
    width: 100%;
    margin-top: 2.9%;
    color: $txt-fail-responde;
  }
}

// @media screen and (min-width: 768px) {

// }
// @media screen and (min-width: 1023px) {}
// @media screen and (min-width: 1439px) {}
