.search-gifos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title-search-gifos {
    margin-top: 0.43em;
    width: 10em;
    text-align: center;
    //dark-mode
    body.dark-mode & {
      color: $white-color;
    }
  }
  img {
    width: 17.06em;
    height: 8.12em;
    margin-top: 1.9em;
  }
}

.form-search {
  width: 17.5em;
  border: 0.06em solid $line-color;
  border-radius: 1.68em;
  width: 17.87em;
  height: 2.12em;
  display: flex;
  justify-content: space-around;

  //dark-mode
  body.dark-mode & {
    border-color: $white-color;
  }
  input {
    border: none;
    //dark-mode
    body.dark-mode & {
      background-color: $body-dark-color;
      color: $link-active-color;
    }
  }
  button {
    border: none;
    background-color: $white-color;
    //dark-mode
    body.dark-mode & {
      background-color: $body-dark-color;
      color: $link-active-color;
    }
  }
  img {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0;
    margin-left: 0;

    //dark mode
    body.dark-mode & {
      content: url("../assets/img/icon-search-modo-noct.svg");
    }
  }
}

.ul-form-search {
  display: none;
  width: 17.5em;
  border: 0.06em solid $line-color;
  border-radius: 1.68em;
  list-style-type: none;
  img {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin-top: 0;
    margin-left: 0;
    content: url("../assets/img/icon-search-mod-noc.svg");
    margin-top: 0.5em;
    margin-left: 1.43em;
  }
  li {
    font-family: $font-roboto;
    font-size: 1em;
    text-align: left;
    margin-left: 1.3em;
    display: inline-block;
    width: 13.4em;
    height: 1.37em;
    font-size: 1em;
    margin-bottom: 0.4em;
    margin-left: 0.8em;
    color: $link-active-color;
  }
  //dark mode
  body.dark-mode & {
    border-color: $white-color;
  }
}

@media screen and (min-width: 768px) {
  .search-gifos {
    .title-search-gifos {
      margin-top: 2.75em;
      width: 20.37em;
      text-align: center;
      font-size: 2.18em;
    }
    img {
      width: 24.93em;
      height: 11.87em;
      margin-top: 1.5em;
    }
  }

  .form-search {
    border: 0.06em solid $line-color;
    border-radius: 1.68em;
    width: 34.43em;
    height: 3.12em;
    input {
      background-color: $white-color;
      font-size: 1em;
      width: 83%;
      border-radius: 10%;
      //dark-mode
      body.dark-mode & {
        background-color: $body-dark-color;
      }
    }
    button {
      background-color: $white-color;
      margin-top: 1.5%;
      //dark-mode
      body.dark-mode & {
        background-color: $body-dark-color;
      }
    }
    img {
      width: 1.25em;
      height: 1.25em;
      margin-top: 0;
      margin-left: 0;
    }
  }

  .ul-form-search {
    width: 34.43em;

    img {
      width: 0.9em;
      height: 0.9em;
    }
    li {
      width: 90%; // 215px;
      //dark mode
      body.dark-mode & {
        color: $white-color;
      }
    }
    //dark mode
    body.dark-mode & {
      border-color: $white-color;
    }
  }
}
/*
@media screen and (min-width: 1023px) {
}
@media screen and (min-width: 1439px) {
}
*/
