.search-gifos-responde {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .line {
    opacity: 0.5;
    border: 0.06em solid $link-active-color;
    width: 9.81em;
    height: 0.06em;
  }
  h2 {
    margin-top: 1.84em;
    margin-bottom: 1.53em;
    font-size: 1.56em;
    line-height: 2.5em;
    text-transform: capitalize;
    //dark-mode
    body.dark-mode & {
      color: $white-color;
    }
  }
  .responde-list {
    width: 90%;
    margin-left: 2%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 7.5em 7.5em;
    column-gap: 0.5em;
    row-gap: 0.5em;

    .div-slider {
      margin-right: auto;
      width: auto;
      height: auto;
      &:hover {
        width: 8.5em;
        height: 7.5em;

        .container-btns-hover li {
          transform: translate(3.75em, -10.31em); //(60px, -165px);
        }
        .container-btns-hover button {
          width: 1.2em;
          height: 1.2em;
          margin-right: 0.31em;
        }

        .container-btns-hover button img {
          color: $line-color;
          width: 1.2em;
          height: 1.2em;
        }

        .container-btns-hover .btn-favorite {
          &:active {
            //width: 2em;
            opacity: 1;
            img {
              width: 70%;
              margin: 0;
              height: inherit;
            }
          }
        }

        .span-text {
          transform: translateY(-10em); //(-160px);
          font-size: smaller;
        }

        .span-text p {
          margin-left: 0.31em; //5px;
        }
      }
    }
    img {
      width: 8.5em;
      height: 7.5em;
      &:hover {
        background-color: $line-color;
        opacity: 0.6;
        z-index: 1;
      }
    }
  }
  button {
    width: 7.93em;
    height: 3.12em;
    margin-top: 3.13em;
    border: 0.08em solid $line-color;
    background-color: $white-color;
    border-radius: 1.56em;
    font-size: 1em;
    text-transform: uppercase;
    //dark-mode
    body.dark-mode & {
      background-color: $body-dark-color;
      color: $white-color;
      border-color: $white-color;
      &:hover {
        background-color: $white-color;
        color: $black-color;
      }
    }
  }
  .text-body .txt-fail-responde {
    margin-top: 1.18em;
    margin-bottom: 5em;
    font-family: $font-montserrat;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    color: $txt-fail-responde;
    line-height: 1.56em;
  }
}

@media screen and (min-width: 768px) {
  .search-gifos-responde {
    .responde-list {
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 8.5em 8.5em;

      .div-slider {
        &:hover {
          width: 10.2em;
          height: 7.5em;

          .container-btns-hover li {
            transform: translate(5.75em, -10.31em);
          }
        }
      }
      li {
        margin-left: 0;
      }
      img {
        width: 10.25em;
      }
    }

    .txt-fail-responde {
      margin-top: 1.81em;
      margin-bottom: 9.31em;
      font-size: 1.37em;
      font-size: 1em;
      width: 19.56em;
      height: 1.56em;
    }
  }
}

@media screen and (min-width: 1023px) {
  .search-gifos-responde {
    .responde-list {
      grid-template-rows: 9.5em 9.5em;
      margin-left: 0%;

      .div-slider {
        &:hover {
          width: 14.2em;
          height: 8.5em;

          .container-btns-hover li {
            transform: translate(6em, -11em);
          }

          .container-btns-hover button {
            width: 2.2em;
            height: 2.2em;
            img {
              width: 2.2em;
              height: 2.2em;
            }
          }

          .span-text {
            transform: translateY(-12em);
          }
        }
      }
      img {
        width: 14.25em;
        height: 8.5em;
      }
    }
  }
}

@media screen and (min-width: 1439px) {
  .search-gifos-responde {
    .responde-list {
      grid-template-rows: 13.5em 13.5em;

      .div-slider {
        &:hover {
          width: 16.2em;
          height: 12.5em;

          .container-btns-hover li {
            transform: translate(8em, -15em);
          }

          // .container-btns-hover button {
          //   width: 2.2em;
          //   height: 2.2em;
          //   // img {
          //   //   width: 2.2em;
          //   //   height: 2.2em;
          //   // }
          // }

          .span-text {
            transform: translateY(-8em);
            font-size: x-large;
          }
        }
      }
      img {
        width: 16.25em;
        height: 12.5em;
      }
    }
  }
}
