// .trending-gifos {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   //background-color: $background-trending-gifos;
//   background-color: lightcoral;
//   h2 {
//     margin-top: 1.87em;
//     width: 98%;
//     color: $line-color;
//     text-transform: capitalize;
//     span {
//       text-transform: uppercase;
//     }
//   }
//   p {
//     width: 95%;
//     margin-top: 0.43em;
//     margin-bottom: 2em;
//     span {
//       text-transform: uppercase;
//     }
//   }
// }

.testing {
  /*
    margin-top: 32px;
    margin-left: 22px;
    margin-bottom:82px;
    */
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 1.37em;
  margin-bottom: 5.12em;
  img {
    width: 15.18em; //243;;
    height: 11.68em; //187;
    /*
    margin-right:22px;
    */
    margin-right: 1.37em;
  }
}

/*
.search-gifos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    .title-search-gifos {
      margin-top: 0.43em;
      width: 10em;
      text-align: center;
      //dark-mode
      body.dark-mode & {
        color: $white-color;
      }
    }
    img {
      width: 17.06em;
      height: 8.12em;
      margin-top: 1.9em;
    }
  }
  
  .form-search {
    border: 0.06em solid $line-color;
    border-radius: 1.68em;
    width: 17.87em; //20.87em
    height: 2.12em; //3.12em
    display: flex;
    justify-content: space-around;
  
    //dark-mode
    body.dark-mode & {
      border-color: $white-color;
    }
    input {
      border: none;
      //dark-mode
      body.dark-mode & {
        background-color: $body-dark-color;
        color: $link-active-color;
      }
    }
    button {
      border: none;
      background-color: $white-color;
      //dark-mode
      body.dark-mode & {
        background-color: $body-dark-color;
        color: $link-active-color;
      }
    }
    img {
      width: 1.25em;
      height: 1.25em;
      margin-top: 0;
      margin-left: 0;
  
      //dark mode
      body.dark-mode & {
        content: url("/assets/img/icon-search-modo-noct.svg");
      }
    }
  }
  
  @media screen and (min-width: 768px) {
    .search-gifos {
      .title-search-gifos {
        margin-top: 2.75em;
        width: 20.37em;
        text-align: center;
        font-size: 2.18em;
      }
      img {
        width: 24.93em;
        height: 11.87em;
        margin-top: 1.5em;
      }
    }
  
    .form-search {
      border: 0.06em solid $line-color;
      border-radius: 1.68em;
      width: 34.43em;
      height: 3.12em;
      input {
        background-color: $white-color;
        font-size: 1em;
        //dark-mode
        body.dark-mode & {
          background-color: $body-dark-color;
        }
      }
      button {
        background-color: $white-color;
        //dark-mode
        body.dark-mode & {
          background-color: $body-dark-color;
        }
      }
      img {
        width: 1.25em;
        height: 1.25em;
        margin-top: 0;
        margin-left: 0;
      }
    }
  }
  
  @media screen and (min-width: 1023px) {
  }
  @media screen and (min-width: 1439px) {
  }
  */
