* {
  box-sizing: border-box;
}

.trending-gifos {
  background-color: $background-trending-gifos;
  padding-top: 2.87em; //46px;
  height: 26.87em; //430px;
  //dark-mode
  body.dark-mode & {
    background-color: $background-trending-gifos-dark-mode;
  }
  h2 {
    text-transform: capitalize;
    width: 100%;
    font-size: 1.25em; //20px;
    line-height: 1.87em; //30px;
    margin-bottom: 0.43em; //7px;
    //dark-mode
    body.dark-mode & {
      color: $white-color;
    }
    span {
      text-transform: uppercase;
    }
  }
  .text-trending {
    margin-bottom: 2em; // 32px;
    //dark-mode
    body.dark-mode & {
      color: $white-color;
    }
    span {
      text-transform: uppercase;
    }
  }

  /*
    <img src="https://picsum.photos/200/300" alt="" class="image"/>
        <div class="middle">
          <button>1</button>
          <button>2</button>
          <button>3</button>
        </div>
        
        .container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


*/
}

.gifos-trending {
  //margin-left: 1.37em; //22px;
  width: 90%;
  display: flex;
  align-items: center;
  margin-right: 0;
  padding-right: 0;
  .slider {
    display: flex;
    overflow: hidden;
    width: 400%; //width of the img total
    height: 100%;
    margin-left: -11.62em; //-100%; //width of the img
    .slider-div {
      width: 100%;
      margin-right: 2%; //29px
      .slider-image {
        display: block;
        width: 11.62em; //14.62em; //243px;
        height: 11.68em; //187px;
        object-fit: cover;
      }
      .slider-image:hover {
        content: url("/assets/img/CTA-crar-gifo-modo-noc.svg");
      }
    }
  }
  .slider-btn {
    //display: none;
    background-color: $background-trending-gifos;
    width: 40px;
    height: 40px;
    border: 1px solid $line-color;
    color: $line-color;
    cursor: pointer;
    z-index: 1;
  }
  .slider-btn:hover {
    background-color: $line-color;
    color: $white-color;
  }
  .btn-left {
    margin-left: 1%; //94px;
    margin-right: 22px;
  }
  .btn-right {
    margin-left: 25px;
    margin-right: 1%; //92px;
  }
}

@media screen and (min-width: 768px) {
  .trending-gifos {
    padding-top: 4.18em; //67px;
    height: 35em; //40em; //640px;
    //dark-mode
    h2 {
      margin-bottom: 0.75em; //12px;
    }
    .text-trending {
      margin-bottom: 3.31em; //53px;
    }
    .gifos-trending {
      margin-left: 1.81em; //29px;
      img {
        width: 22.31em; //357px;
        height: 17.18em; //275px;
      }
      button {
        display: inline-block;
      }
    }
  }
}

/*
  @media screen and (min-width: 768px) {
    /*
   
*/
/*
  }
  
  @media screen and (min-width: 1023px) {
  }
  @media screen and (min-width: 1439px) {
  }
  */
