$line-color: #572ee5;
$menu-mobile-color-hover: rgba(87, 46, 229, 0.9);
$white-color: #ffffff;
$link-hover-color: #5ed7c6;
$link-active-color: #9cafc3;
$black-color: #000000;
$body-dark-color: #37383c;
$font-montserrat: "Montserrat", sans-serif;

@import "header";
@import "search";
@import "trending";
@import "searchResponde";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.text-menu-conten {
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 0.93em;
  color: $white-color;
  line-height: 3.75em;
  width: 100%;
}

.text-body {
  color: $line-color;
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 1.56em; //24px
  line-height: 1.56em;
  text-align: center;
}
