body {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
}

body.dark-mode {
  background-color: #37383c;
}

.line-color {
  height: 0.3em;
  background-color: #572ee5;
}

body.dark-mode .line-color {
  background-color: #000000;
}

nav {
  height: 5.93em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.dark-mode nav {
  background-color: #37383c;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5.62em;
  padding: 0;
}

.logo {
  margin-top: 1.81em;
  margin-left: 1.37em;
  margin-bottom: 1.06em;
  width: 3.05em;
  height: 3.05em;
}

body.dark-mode .logo {
  content: url("/assets/img/logo-mobile-modo-noct.svg");
}

.menu-conten {
  display: none;
  position: fixed;
  width: 100%;
  height: 0em;
  top: 2.75em;
  background: rgba(87, 46, 229, 0.9);
  text-align: center;
}

body.dark-mode .menu-conten {
  background: #000000;
}

.menu-conten li {
  opacity: 0;
  margin-left: 5%;
  margin-top: 7%;
}

.menu-conten li #color-switch {
  display: none;
}

.menu-conten li a,
.menu-conten li label {
  text-transform: capitalize;
  border-bottom: 0.06em solid #ffffff;
  padding-bottom: 0.75em;
}

.burger-btn {
  cursor: pointer;
}

.burger-btn img {
  margin-top: 2.93em;
  margin-right: 1.62em;
  margin-bottom: 2.12em;
  width: 0.93em;
  height: 0.87em;
}

body.dark-mode .burger-btn img {
  content: url("/assets/img/burger-modo-noct.svg");
}

#check {
  display: none;
}

#check:checked ~ .burger-btn img {
  content: url("/assets/img/close.svg");
}

body.dark-mode #check:checked ~ .burger-btn img {
  content: url("/assets/img/close-modo-noct.svg");
}

#check:checked ~ .menu-conten {
  display: block;
  height: 100%;
  margin-top: 3.53em;
}

#check:checked ~ .menu-conten .crear-gifo {
  display: none;
}

#check:checked ~ .menu-conten li {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  nav {
    height: 5.62em;
  }
  .burger-btn {
    display: none;
  }
  .logo-container {
    margin-left: 10.83%;
  }
  .logo {
    margin-top: 1.25%;
    margin-bottom: 0.9%;
    margin-left: 0em;
  }
  .menu-conten {
    position: relative;
    height: 4em;
    top: 0;
    background: none;
    float: right;
    text-align: right;
    margin-right: 5.83%;
    margin-top: 2.5%;
    margin-bottom: 2.64%;
    margin-left: 11.81%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body.dark-mode .menu-conten {
    background: none;
  }
  .menu-conten .crear-gifo {
    margin-top: 1.25%;
    margin-bottom: 1.25%;
  }
  body.dark-mode .menu-conten .crear-gifo {
    content: url("/assets/img/CTA-crear-gifo-hover-modo-noc.svg");
  }
  .menu-conten li {
    display: inline-block;
    opacity: 1;
    line-height: 4em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
  }
  .menu-conten li a,
  .menu-conten li label {
    text-transform: uppercase;
    color: #572ee5;
    border: none;
  }
  body.dark-mode .menu-conten li a, body.dark-mode
  .menu-conten li label {
    color: #ffffff;
  }
}

.menu-conten li a:hover,
.menu-conten li label:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #5ed7c6;
          text-decoration-color: #5ed7c6;
  text-decoration-thickness: 0.12em;
}

.menu-conten li a:active,
.menu-conten li label:active {
  color: #9cafc3;
  letter-spacing: 0;
  text-align: center;
}

body.dark-mode .menu-conten li a:active, body.dark-mode
.menu-conten li label:active {
  color: #9cafc3;
}

.crear-gifo:hover {
  content: url("/assets/img/CTA-crear-gifo-hover.svg");
}

body.dark-mode .crear-gifo:hover {
  content: url("/assets/img/CTA-crear-gifo-hover-modo-noc.svg");
}

.crear-gifo:active {
  content: url("/assets/img/CTA-crear-gifo-active.svg");
}

body.dark-mode .crear-gifo:active {
  content: url("/assets/img/CTA-crear-gifo-active-modo-noc.svg");
}

@media screen and (min-width: 1023px) {
  .menu-conten {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-conten .crear-gifo {
    margin-top: -0.3em;
  }
  .menu-conten li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 3.5em;
  }
}

@media screen and (min-width: 1439px) {
  .logo-container {
    margin-left: 9.75em;
  }
  .logo-container .logo {
    width: 3.69em;
    height: 3.69em;
  }
  .menu-conten {
    margin-top: 1.5%;
    margin-right: 9.75em;
    margin-left: 20em;
  }
  .menu-conten li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.search-gifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-gifos .title-search-gifos {
  margin-top: 0.43em;
  width: 10em;
  text-align: center;
}

body.dark-mode .search-gifos .title-search-gifos {
  color: #ffffff;
}

.search-gifos .title-search-gifos .uppercase-search-gifos {
  text-transform: uppercase;
  color: #5ed7c6;
}

.search-gifos img {
  width: 17.06em;
  height: 8.12em;
  margin-top: 1.9em;
}

.form-search {
  width: 17.5em;
  border: 0.06em solid #572ee5;
  border-radius: 1.68em;
  width: 17.87em;
  height: 2.12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body.dark-mode .form-search {
  border-color: #ffffff;
}

.form-search input {
  border: none;
}

body.dark-mode .form-search input {
  background-color: #37383c;
  color: #9cafc3;
}

.form-search button {
  border: none;
  background-color: #ffffff;
}

body.dark-mode .form-search button {
  background-color: #37383c;
  color: #9cafc3;
}

.form-search img {
  width: 1.25em;
  height: 1.25em;
  margin-top: 0;
  margin-left: 0;
}

body.dark-mode .form-search img {
  content: url("/assets/img/icon-search-modo-noct.svg");
}

.ul-form-search {
  display: none;
  width: 17.5em;
  border: 0.06em solid #572ee5;
  border-radius: 1.68em;
  list-style-type: none;
}

.ul-form-search img {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-top: 0;
  margin-left: 0;
  content: url("/assets/img/icon-search-mod-noc.svg");
  margin-top: 0.5em;
  margin-left: 1.43em;
}

.ul-form-search li {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-align: left;
  margin-left: 1.3em;
  display: inline-block;
  width: 13.4em;
  height: 1.37em;
  font-size: 1em;
  margin-bottom: 0.4em;
  margin-left: 0.8em;
  color: #9cafc3;
}

body.dark-mode .ul-form-search {
  border-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .search-gifos .title-search-gifos {
    margin-top: 2.75em;
    width: 20.37em;
    text-align: center;
    font-size: 2.18em;
  }
  .search-gifos img {
    width: 24.93em;
    height: 11.87em;
    margin-top: 1.5em;
  }
  .form-search {
    border: 0.06em solid #572ee5;
    border-radius: 1.68em;
    width: 34.43em;
    height: 3.12em;
  }
  .form-search input {
    background-color: #ffffff;
    font-size: 1em;
    width: 83%;
  }
  body.dark-mode .form-search input {
    background-color: #37383c;
  }
  .form-search button {
    background-color: #ffffff;
  }
  body.dark-mode .form-search button {
    background-color: #37383c;
  }
  .form-search img {
    width: 1.25em;
    height: 1.25em;
    margin-top: 0;
    margin-left: 0;
  }
  .ul-form-search {
    width: 34.43em;
  }
  .ul-form-search img {
    width: 0.9em;
    height: 0.9em;
  }
  .ul-form-search li {
    width: 90%;
  }
  body.dark-mode .ul-form-search li {
    color: #ffffff;
  }
  body.dark-mode .ul-form-search {
    border-color: #ffffff;
  }
}

/*
@media screen and (min-width: 1023px) {
}
@media screen and (min-width: 1439px) {
}
*/
.trending-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trending-info h2 {
  width: 12.75em;
  margin-top: 1.23em;
  font-size: 0.8em;
  text-transform: capitalize;
}

body.dark-mode .trending-info h2 {
  color: #ffffff;
}

.trending-info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2.81em;
  width: 14.06em;
  height: 3.12em;
  font-weight: normal;
  font-size: 0.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trending-info p a {
  margin-right: 0.5em;
  text-transform: capitalize;
}

.trending-info p a:visited {
  color: #572ee5;
}

body.dark-mode .trending-info p a {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .trending-info h2 {
    width: 5.68em;
    margin-top: 3em;
  }
  .trending-info p {
    width: 25.12em;
    margin-top: 0.43em;
    margin-bottom: 6.7em;
  }
}

/*

@media screen and (min-width: 1023px) {
}
@media screen and (min-width: 1439px) {
}

*/
.search-gifos-responde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-gifos-responde .line {
  opacity: 0.5;
  border: 0.06em solid #9cafc3;
  width: 9.81em;
  height: 0.06em;
}

.search-gifos-responde h2 {
  margin-top: 1.84em;
  margin-bottom: 1.53em;
  font-size: 1.56em;
  line-height: 2.5em;
  text-transform: capitalize;
}

body.dark-mode .search-gifos-responde h2 {
  color: #ffffff;
}

.search-gifos-responde .responde-list {
  width: 90%;
  margin-left: -0.5em;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 7.5em 7.5em;
      grid-template-rows: 7.5em 7.5em;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
  row-gap: 0.5em;
}

.search-gifos-responde .responde-list img {
  width: 8.5em;
  height: 7.5em;
}

.search-gifos-responde button {
  width: 7.93em;
  height: 3.12em;
  margin-top: 3.13em;
  border: 0.08em solid #572ee5;
  background-color: #ffffff;
  border-radius: 1.56em;
  font-size: 1em;
  text-transform: uppercase;
}

body.dark-mode .search-gifos-responde button {
  background-color: #37383c;
  color: #ffffff;
  border-color: #ffffff;
}

.search-gifos-responde .txt-fail-responde {
  margin-top: 1.18em;
  margin-bottom: 5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  color: #50e3c2;
  line-height: 1.56em;
}

@media screen and (min-width: 768px) {
  .search-gifos-responde .responde-list {
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 8.5em 8.5em;
        grid-template-rows: 8.5em 8.5em;
  }
  .search-gifos-responde .responde-list img {
    width: 10.25em;
  }
  .search-gifos-responde .txt-fail-responde {
    margin-top: 1.81em;
    margin-bottom: 9.31em;
    font-size: 1.37em;
    font-size: 1em;
    width: 19.56em;
    height: 1.56em;
  }
}

@media screen and (min-width: 1023px) {
  .search-gifos-responde .responde-list {
    -ms-grid-rows: 9.5em 9.5em;
        grid-template-rows: 9.5em 9.5em;
  }
  .search-gifos-responde .responde-list img {
    width: 14.25em;
    height: 8.5em;
  }
}

@media screen and (min-width: 1439px) {
  .search-gifos-responde .responde-list {
    -ms-grid-rows: 13.5em 13.5em;
        grid-template-rows: 13.5em 13.5em;
  }
  .search-gifos-responde .responde-list img {
    width: 16.25em;
    height: 12.5em;
  }
}

.trending-gifos {
  background-color: #f3f5f8;
  padding-top: 2.87em;
  height: 26.87em;
  margin-top: 2.43em;
}

body.dark-mode .trending-gifos {
  background-color: #222326;
}

.trending-gifos h2 {
  text-transform: capitalize;
  width: 100%;
  font-size: 1.25em;
  line-height: 1.87em;
  margin-bottom: 0.43em;
}

body.dark-mode .trending-gifos h2 {
  color: #ffffff;
}

.trending-gifos h2 span {
  text-transform: uppercase;
}

.trending-gifos .text-trending {
  margin-bottom: 2em;
}

body.dark-mode .trending-gifos .text-trending {
  color: #ffffff;
}

.trending-gifos .text-trending span {
  text-transform: uppercase;
}

/*
<div id="container" class="container">
        <button class="slider-btn btn-left" id="btn-left"><</button>
        <div class="slider" id="slider"></div>
        <button class="slider-btn btn-right" id="btn-right">></button>
      </div>
      <div class="controles">
        <button id="play">Play</button>
        <button id="stop" disabled>Stop</button>
      </div>
      */
.container {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .slider {
  width: 100%;
  height: 200px;
  background-size: cover;
  overflow: hidden;
}

.container .slider .slider-image:hover {
  content: url("/assets/img/CTA-crar-gifo-modo-noc.svg");
}

.container .slider-btn {
  background-color: #f3f5f8;
  width: 40px;
  height: 40px;
  border: 1px solid #572ee5;
  color: #572ee5;
  cursor: pointer;
  z-index: 1;
}

.container .slider-btn:hover {
  background-color: #572ee5;
  color: #ffffff;
}

.container .btn-left {
  display: none;
}

.container .btn-right {
  display: none;
}

@media screen and (min-width: 768px) {
  .trending-gifos {
    padding-top: 4.18em;
    height: 35em;
  }
  .trending-gifos h2 {
    margin-bottom: 0.75em;
  }
  .trending-gifos .text-trending {
    margin-bottom: 3.31em;
  }
  .trending-gifos .gifos-trending {
    margin-left: 1.81em;
  }
  .trending-gifos .gifos-trending img {
    width: 22.31em;
    height: 17.18em;
  }
  .trending-gifos .gifos-trending button {
    display: inline-block;
  }
}

/*
    
  @media screen and (min-width: 1023px) {
  }
  @media screen and (min-width: 1439px) {
  }
  */
.footer {
  margin-top: 2.93em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.dark-mode .footer {
  color: #ffffff;
}

.footer p {
  letter-spacing: 0;
}

.footer .social-network {
  margin-top: 1.5em;
  margin-left: 1em;
}

.footer .social-network img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.18em;
  width: 1.25em;
  height: 1.25em;
}

.footer .social-network .fb {
  content: url("/assets/img/icon_facebook.svg");
}

.footer .social-network .fb:hover {
  content: url("/assets/img/icon_facebook_hover.svg");
}

body.dark-mode .footer .social-network .fb:hover {
  content: url("/assets/img/icon_facebook_noc.svg");
}

.footer .social-network .tw {
  content: url("/assets/img/icon-twitter.svg");
}

.footer .social-network .tw:hover {
  content: url("/assets/img/icon-twitter-hover.svg");
}

body.dark-mode .footer .social-network .tw:hover {
  content: url("/assets/img/icon_twitter_noc.svg");
}

.footer .social-network .ig {
  content: url("/assets/img/icon_instagram.svg");
}

.footer .social-network .ig:hover {
  content: url("/assets/img/icon_instagram-hover.svg");
}

body.dark-mode .footer .social-network .ig:hover {
  content: url("/assets/img/icon_instagram_noc.svg");
}

.footer .copyright {
  letter-spacing: 0;
  margin-top: 2.98em;
  text-transform: capitalize;
}

body.dark-mode .footer .copyright {
  color: #ffffff;
}

.footer .copyright span {
  text-transform: uppercase;
}

footer .line-color {
  margin-top: 1.43em;
}

@media screen and (min-width: 768px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer p {
    margin-left: 3.75em;
  }
  .footer .social-network {
    margin-bottom: -0.3em;
    margin-left: -6em;
    margin-top: 0;
  }
  .footer .copyright {
    margin-top: 0;
    margin-right: 3.87em;
  }
}

@media screen and (min-width: 1023px) {
  .footer .social-network {
    margin-left: -22em;
  }
}

@media screen and (min-width: 1439px) {
  .footer .social-network {
    margin-left: -47em;
  }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-menu-conten {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.93em;
  color: #ffffff;
  line-height: 3.75em;
  width: 100%;
}

.text-body {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.56em;
  line-height: 1.56em;
  text-align: center;
}

.text-trending {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: center;
  line-height: 1.43em;
}
/*# sourceMappingURL=style.css.map */